
@{
    Layout = null;
}


<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Register | Project Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Dana" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/Qovex/assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/Content/Qovex/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/Content/Qovex/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/Content/Qovex/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body>
    @*<div class="home-btn d-none d-sm-block">
            <a href="index.html" class="text-dark"><i class="fas fa-home h2"></i></a>
        </div>*@
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-login text-center">
                            <div class="bg-login-overlay"></div>
                            <div class="position-relative">
                                <h5 class="text-white font-size-20">Project Management</h5>
                                <h5 class="text-white font-size-20">Welcome Back !</h5>
                                <p class="text-white-50 mb-0">Sign Up</p>
                                <a href="index.html" class="logo logo-admin mt-4">
                                    <img src="~/Content/Qovex/assets/images/logo-sm-dark.png" alt="" height="30">
                                </a>
                            </div>
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="card-body pt-5">
                                <div class="p-2">
                                    <form class="form-horizontal" action="@Url.Action("Register", "Useraccounts")" method="post">
                                        <i class="text-danger">
                                            @ViewBag.error
                                        </i>
                                        <a href="#">@TempData["message"]</a>
                                        <div class="mb-3">
                                            <label class="form-label" for="username">Name</label>
                                            <input type="text" class="form-control" name="name" id="name"
                                                   placeholder="Enter Your Name">
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="userpassword">Address</label>
                                            <input type="text" class="form-control"
                                                   id="address" name="address"
                                                   placeholder="Enter Your Address">
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="username">Phone</label>
                                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="useremail">Email</label>
                                            <input type="text" class="form-control" id="email" name="email"
                                                   placeholder="Enter Your email">
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="userpassword">Password</label>
                                            <input type="text" class="form-control"
                                                   name="password" id="password"
                                                   placeholder="Enter Your password">
                                        </div>


                                        <div class="mt-3">
                                            <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">
                                                Register
                                            </button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        }
                    </div>
                    <div class="mt-5 text-center">
                        <p>
                            Alreay have an account ?
                            <a href="@Url.Action("Login","Useraccounts")" class="fw-medium text-primary"> Login now </a>
                        </p>
                        <p>
                            ©
                            <script>document.write(new Date().getFullYear())</script>  Crafted with <i class="mdi mdi-heart text-danger"></i> by CodeIcon Technology
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <!-- JAVASCRIPT -->
    <script src="~/Content/Qovex/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/Content/Qovex/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Qovex/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/Content/Qovex/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Content/Qovex/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/Content/Qovex/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

    <script src="~/Content/Qovex/assets/js/app.js"></script>

</body>

</html>