@model Project_Management.Models.Deal

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Deal</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.pipeline)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.pipeline)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dealstages)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dealstages)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dealvalue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dealvalue)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.closedate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.closedate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dealcategory)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dealcategory)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dealagent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dealagent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.product)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.product)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dealwatcher)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dealwatcher)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.insertdate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.insertdate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Lead_Contact.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Lead_Contact.name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
