@model Project_Management.Models.ActivityLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActivityLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.error)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.error)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.logtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loglevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loglevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insertdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insertdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insertuser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insertuser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
